{% extends 'base.html.twig' %}

{% block level3 %}
<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Calibri', sans-serif;
    }
    h1{
        color: white;
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    td {
        color: white;
        background-color: blue;
    }
    th {
      background-color: #fff;
    }
</style>
<div>
    <h1>Fiche du livre {{ livres.id }}</h1>
    <table>
        <tr>
            <td>id</td>
            <td>{{ livres.id }}</td>
        </tr>
        <tr>
            <td>titre</td>
            <td>{{ livres.titre }}</td>
        </tr>
        <tr>
            <td>Auteur</td>
            <td>
                {{ livres.auteur.prenom }} {{ livres.auteur.nom }}
            </td>
        </tr>
        <tr>
            <td>date de parution</td>
            <td>{{ livres.AnneeParution|date ("d/m/Y") }}</td>
        </tr>
        <tr>
            <td>nombre de pages</td>
            <td>{{ livres.nbPage }}</td>
        </tr>

    </table>
    <a href='{{ path("livre_app_livre") }}'>RETOUR</a>
</div>

{% endblock %}
