{% extends 'base.html.twig' %}

{% block body %}
<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Calibri', sans-serif;
    }
    h1{
        color: white;
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    td {
        color: white;
        background-color: blue;
    }
    th {
      background-color: #fff;
    }
</style>
<div>
    <h1>Fiche du marque pages {{ marque_pages.id }}</h1>
    <table>
        <tr>
            <td>id</td>
            <td>{{ marque_pages.id }}</td>
        </tr>
        <tr>
            <td>url</td>
            <td>{{ marque_pages.url }}</td>
        </tr>
        <tr>
            <td>date</td>
            <td>{{ marque_pages.DateDeCreation|date ("d/m/Y") }}</td>
        </tr>
        <tr>
            <td>commentaire</td>
            <td>{{ marque_pages.commentaire }}</td>
        </tr>
        <tr>
            <td>Mots clés</td>
            <td>
                {% for mc in marque_pages.MotCle %}
                    {{mc.MotCle}}
                {% endfor %}
            </td>
        </tr>
    </table>
</div>

{% endblock %}
