{% extends 'base.html.twig' %}

{% block level3 %}
<link rel="stylesheet" type="text/css" href='{{asset("css/level3.css")}}'>
<div>
    <h2>Liste des marque pages</h2>
    <table>
        <tr>
            <th>id</th>
            <th>url</th>
            <th>date</th>
            <th>commentaire</th>
        </tr>
        {% for marque in marque_pages %}
            <tr>
                <td>{{ marque.id }}</td>
                <td><a href="{{ path("marque_page_marque_fiche", {id: marque.id}) }} ">{{ marque.url }}</a></td>
                <td>{{ marque.DateDeCreation|date ("d/m/Y") }}</td>
                <td>{{ marque.commentaire }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
